<div class="container">
  <header class="header d-flex justify-content-between align-items-center">
    <h1 class=" text-uppercase logo">
      <a routerLink="/">
        wookie movies
      </a>
    </h1>

    <div class="search-wrapper input-group mb-3">
        <div class="input-group-text">
          <span class="material-icons">
            search
            </span>
        </div>
        <input (keyup)="filter($event.target.value)" type="text" class="form-control" aria-label="Text input with checkbox">
    </div>
  </header>

  
  <ng-container *ngIf=" !(layoutService.blockUIAction | async); else spinnerTemplate">
    <router-outlet></router-outlet>
  </ng-container>

  <ng-template #spinnerTemplate>
    <div class="spinner-wrapper">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
  
  
</div>